.body{
    width: 100%;
    padding: 0 5em;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.product-detail-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
}

.product-detail-container .book-slider .circle-wrapper,
.product-detail-container .book-slider .discount-time{
    display: none;
}

.product-detail-container .book-slider .slider-container{
    padding: 1em 1em !important;
    background: rgb(200, 195, 195);

}