.his-order-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 2em 5em;
    width: 100%;
    height: 100%;
    gap: 1em;
}

.his-order-left .account-area .avatar{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-width: 0;
}
.his-order-left .account-area .avatar span{
    width: 100%;
    min-width: 0;
    white-space: normal;
    word-wrap: break-word;
}
.his-order-left .account-area .avatar img{
    width: 50px;
    height: 50px;
    min-width: 0;
    min-height: 0;
    border-radius: 50%;
}

.his-order-right{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.his-order-right .title-content{
    font-size: large;
    font-weight: 500;
}

.his-order-category .his-order-category-container{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    background-color: white;
}

.his-order-category .his-order-category-container .his-order-item{
    display: inline-flex;
    justify-content: center;
    font-size: medium;
    font-weight: 300;
    padding: 10px 5px;
    width: 100%;
    border: none;
    background-color: white

}

.his-order-search{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.his-order-category-container .his-order-item.active{
    outline: none;
    color: rgb(51, 90, 245);
    border-bottom: 2px solid rgb(51, 90, 245);
}



.his-order-search input{
    width: 100%;
    height: 35px;
    padding: 0 3em;
    border: 1px solid #ccc; /* viền bình thường */
    
}
.his-order-search input:focus {
  outline: 1px solid rgb(98, 241, 143); /* viền đen xung quanh khi focus */
}
.his-order-search .search{
    background-color: transparent;
    position: absolute;
    padding: 0 10px;
    border: none;
    height: 35px;
    left: 0;
}

.his-order-search-title{
    display: inline-flex;
    align-items: center;
    border-left: 1px solid rgb(35, 66, 237);
    position: absolute;
    align-items: center;
    color: rgb(35, 66, 237);
    height: 35px;
    padding: 0 10px;
    right: 0;
}

.his-order-item-container{
    width: 100%;
}

.his-order-item-container .order-total-price-container .order-detail-fee-container{
    display: none !important;
}

.his-order-item-container .order-item-content .book-discount-price-container .discount-price{
    display: none !important;
}