.hp-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  gap: 2px;
  padding: 1em 5em;
}

.hp-top {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
}

.hp-left-body {
  justify-content: flex-end;
  margin: 0 3rem;
  width: 250px;
  min-height: 0;
}

.hp-right-body {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
}

.hp-right-body .hp-carousel{
  display: flex;
  justify-content: flex-end;
}

.breadcrumb {
  margin: 0;
  padding: 0;
}

.hp-bottom {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 2em;
  align-items: start;
  margin: 0 0;
  gap: 2em;
}

.main-slider {
  width: 100%;
  min-width: 0;
  margin: 0;
}

.show-more-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.show-more-btn {
  position: relative;
  border-style: none;
  font-size: large;
  font-weight: 200;
  padding: 10px 15px;
  border: 1px solid rgb(58, 235, 147);
  color: rgb(13, 149, 81);
  background-color: rgb(254, 252, 252);
  cursor: pointer;
  z-index: 1;
}

/* lớp nền phủ */
.show-more-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(58, 235, 147);
  z-index: -1;

  transform: scaleX(0);
  transform-origin: left;

  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.show-more-btn:hover::before {
  transform: scaleX(1);
}

.show-more-btn:hover {
  color: white;
}














